.ti-minus {
  position: relative;
  top: 5px;
}
.list li {
  font-size: 14px;
}
.list h6 {
  font-size: 10px;
}
.table_list {
  width: 20%;
}
.shipping_select {
  font-size: 18px;
}
.address {
  display: block;
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  height: 40px;
  margin-bottom: 20px;
  padding: 8px 15px;
}
tr {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-responsive {
  overflow-x: unset !important;
}
