@tailwind base;
@tailwind components;
@tailwind utilities;


.nextui-c-eXOOPO > .nextui-c-ctQnhE:last-child {
    right: 10px !important;
}

.nextui-c-gJvMas > .nextui-c-cwdhZi {
    margin-top: 5px !important;
    font-size: 1rem !important;
    line-height: normal !important;
    color: #F31260;
}